---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "My Astro Learning Blog";
import BlogPost from "../components/BlogPost.astro";
---

<BaseLayout title={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
